main {
	background-color: #1c1d29;
	font-family: 'TT Commons';
}

.custom-col {
	background-color: #252635;
}

.font-circular {
	font-family: 'Circular Std';
}

.progress-section {
	background-color: #191a25;
}

.progress-bg {
	background-color: #20253e;
}

.bg-box {
	background-color: #343547;
}

.bg-box-blue {
	background-color: #303653;
}

.lock-box {
	left: 75%;
	bottom: 15%;
}

.profile-box-border {
	border-color: #3e4b7b;
}
