main {
	background-color: #1c1d29;
}

.custom-col {
	background-color: #252635;
}

.font-custom-common {
	font-family: 'TT Commons';
}

.font-circular {
	font-family: 'Circular Std';
}

.progress-section {
	background-color: #1a1b26;
}

.progress-bg {
	background-color: #20253e;
}

.bg-box {
	background-color: #353647;
}

/* Achievements */
